@import '../../../App.scss';

.cardHome {
    margin-top: -80px;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.img-delivery {
    width: 150px;
}

// LOGO ANIMATE
.animation-logo {
    position: absolute;
    width: 100px;
    top: 30%;
}
.animation-text {
    position: absolute;
    top: 50%;
    font-size: 40px;
    font-family: 'Manjari', sans-serif;
}

.footer-text {
    font-family: 'Manjari', sans-serif;
    font-size: 40px;
    letter-spacing: 4px;
}

.text-home {
    width: 480px;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Manjari', sans-serif;
}

.img-game {
    width: 300px;
}

.footer {
    background-color: $navbar;
    width: 100%;
    height: 650px;
}
.padding-none {
    padding: 0!important;
    margin: 0!important;
}

.social-media {
    width: 100%;
    height: 80px;
}

.img-work {
    width: 400px;
}

.logo-size {
    width: 30px;
    padding: 20px;
}

@media (min-width: 320px) and (max-width: 600px) { 
    .animation-text {
        position: absolute;
        top: 50%;
        font-size: 30px;
        font-family: 'Manjari', sans-serif;
    }
    .cardHome {
        margin-top: 50px;
    }
}
