@import '../../App.scss';

.logo {
    margin-top: 5px;
    padding: 10px 19px;
    position: fixed;
    z-index: 1000;
    width: 35px;
}

.fixed {
    color: $myBlackColor!important;
    background-color: $navbar!important;
    position: fixed;
}

.btnLink {
    color: $myBlackColor!important;
    font-size: 15px!important;
}


